/* card.scss */

.card {
  text-align: left;

  &__container {
    padding-bottom: 20px;
    background: $color_secondary;
  }

  &__heading {
    margin: 50px 20px 20px;
    font-size: 18px;
    text-transform: uppercase;
  }

  &__text {
    margin: 20px;
    font-size: 14px;
  }
}
