{#- footer.njk -#}

{#- Component class -#}
{% set class = 'footer' %}

{#- Import used atoms & molecules -#}

{#- Template content -#}
{% macro footer(footerContent) -%}
<footer class="{{ class }}">
  <div class="{{ class + '__container'}}">
    <p class="{{ class + '__text'}}">
      {{ footerContent }}</p>
  </div>
</footer>
{%- endmacro %}
