/**
 * _base.scss
 * General elements settings
 */

body {
  color: $color_white;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1;
  text-align: center;
  background: $color_primary;
}
