/**
 * _typography.scss
 * Basic project typography
 */

/* Headings */
h1 {
  font-size: 50px;
  font-weight: 200;
}

h2 {
  font-size: 36px;
  font-weight: 200;
}

h3 {
  font-size: 22px;
}

/* Paragraphs */
p {
  font-size: 20px;
  line-height: 1.4;
}
