{#- cards.njk -#}

{#- Component class -#}
{% set class = 'cards' %}

{#- Import used atoms & molecules -#}
{% from "molecules/card/card.njk" import card as card %}

{#- Template content -#}
{% macro cards(cardsFill) -%}
<section class="{{ class }}">
  <div class="{{ class + '__container' }}">
    {% if cardsFill.heading %}
    <h2 class="{{ class + '__heading' }}">
      {{ cardsFill.heading }}</h2>
    {% endif %}
    <div class="{{ class + '__cardList' }}">
      {% for cardsItem in cardsFill.cards %}
        {{ card(
          cardsItem
        ) }}
      {% endfor %}
    </div>
  </div>
</section>
{%- endmacro %}
