{#- cards.njk -#}

{#- Component class -#}
{% set class = 'cards' %}

{#- Import used atoms & molecules -#}
{% from "molecules/card/card.njk" import card as card %}

{#- Template content -#}
{% macro cards(cardsFill) -%}
<section class="{{ class }}">
  {% if cardsFill.heading %}
  <h2>
    {{ cardsFill.heading }}</h2>
  {% endif %}
  {% for cardsItem in cardsFill.cards %}
    {{ card(
      cardsItem
    ) }}
  {% endfor %}
</section>
{%- endmacro %}
