{#- linkButton.njk -#}

{#- Component class -#}
{% set class = 'linkButton' %}

{#- Template content -#}
{% macro linkButton(linkButtonText, linkButtonUrl) -%}
<div class="{{ class }}">
  <a class="{{ class + '__link' }}" href="{{ linkButtonUrl }}">
    <span class="{{ class + '__button' }}">{{ linkButtonText }}</span></a>
</div>
{%- endmacro %}
